<a href="https://colab.research.google.com/github/Nayoung-young/prj-funnel-analysis/blob/main/user_funnel_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# _0. 프로젝트 설명

> `목적: 어떤 퍼널에서 유저들이 가장 많이 이탈하고 있는가? `

- 2021-04-23부터 2021-04-29까지 7일 간의 모바일 서비스 유저 데이터를 통한 퍼널 분석

- 퍼널 필드의 레코드: 퍼널별 유저 체류 시간

In [1]:
import pandas as pd # python에서의 엑셀과 같은 역할
import numpy as np # 계산을 편하게 해 주는 라이브러리
import matplotlib.pyplot as plt # 시각화
import seaborn as sns # 시각화

import matplotlib.ticker as ticker # 시각화
import matplotlib.dates as mdates # 시각화

import warnings
warnings.filterwarnings('ignore')

# _1. 데이터 불러오기

In [17]:
%%time
df = pd.read_csv('funnel_sample_final.csv')
df_base = df.copy()

ParserError: ignored

In [3]:
df_base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137746 entries, 0 to 137745
Data columns (total 33 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   dates                  137746 non-null  object
 1   hours                  137746 non-null  int64
 2   age_layer              137746 non-null  object
 3   se_inflowed            137746 non-null  int64
 4   se_joined              22760 non-null   float64
 5   se_cert_pv             1913 non-null    float64
 6   se_cert_done           1380 non-null    float64
 7   se_tax_calculation     1243 non-null    float64
 8   se_tax_check           1224 non-null    float64
 9   se_pay_pv              733 non-null     float64
 10  se_is_not_target       168 non-null     float64
 11  se_ref                 51 non-null      float64
 12  se_ref_kt              34 non-null      float64
 13  se_ref_lk              0 non-null       float64
 14  se_additional_info_pv  347 non-null     float64
 15  se_add_done            12 non-null      float64
 16  se_edit_done           36 non-null      float64
 17  se_save_done           324 non-null     float64
 18  et_inflowed            137746 non-null  object
 19  et_joined              22760 non-null   object
 20  et_cert_pv             1913 non-null    object
 21  et_cert_done           1380 non-null    object
 22  et_tax_calculation     1243 non-null    object
 23  et_tax_check           1224 non-null    object
 24  et_pay_pv              733 non-null     object
 25  et_is_not_target       168 non-null     object
 26  et_ref                 51 non-null      object
 27  et_ref_kt              34 non-null      object
 28  et_ref_lk              0 non-null       float64
 29  et_additional_info_pv  347 non-null     object
 30  et_add_done            12 non-null      object
 31  et_edit_done           36 non-null      object
 32  et_save_done           324 non-null     object
dtypes: float64(15), int64(2), object(16)
memory usage: 34.7+ MB

In [15]:
df_base.sample(5)

,dates,hours,age_layer,se_inflowed,se_joined,se_cert_pv,se_cert_done,se_tax_calculation,se_tax_check,se_pay_pv,...,et_tax_check,et_pay_pv,et_is_not_target,et_ref,et_ref_kt,et_ref_lk,et_additional_info_pv,et_add_done,et_edit_done,et_save_done
31265,2021-04-23,12,Unknown,1650683200084,1.650683e+12,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44430,2021-04-26,15,Unknown,1650953890456,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98556,2021-04-26,8,Unknown,1650928923855,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82554,2021-04-27,19,Unknown,1651055485744,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36677,2021-04-26,22,Unknown,1650980502015,1.650981e+12,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
print(df_base.hours.min())
print(df_base.hours.max()) # hours = 시간

0
23

In [9]:
from datetime import datetime

print(pd.to_datetime(df_base.dates).min())
print(pd.to_datetime(df_base.dates).max())

2021-04-23 00:00:00
2021-04-29 00:00:00

In [10]:
df_base.age_layer.unique()

array(['Unknown', '40s', '20s', '50s', '30s', '60s'], dtype=object)

#_2. 데이터 scheme 확인

## 2.1 컬럼 분리
- `집계 기준이 될 컬럼`과 `집계 대상이 될 컬럼`을 구분

#_3. 전환율

#_4. 체류시간